h1 {
  color: #56F;
}

body {
  /*background: #eeb;*/
  padding: 0;
  margin: 0;
}
#app {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background: #f5e0b1;*/
  border: solid red;
}

#inputField {
  width: 50vw;
  font-size: xx-large;
  border-radius: 10px;
  border-bottom-color: #777;
  border-right-color: #777;
  padding: 5px;
  text-align: center;
  color: #56f;
}

.mainButton {
  border: none;
  border-radius: 5px;
  background: #56f;
  color: #fff;
  padding: 10px;
  margin: 10px;
}